@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: #1A1A1A;
  color: white;
}

/***********************************
*              Header              *
***********************************/
.section-1 {
  position: relative;
  width: 1500px;
  height: 100vh;
  margin: auto;
  padding: 2rem 0 0 0;
  overflow: hidden;
}

.section-1 header {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 header ul li {
  margin-left: 2.5rem;
  cursor: pointer;
  padding: .5rem 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.section-1 header ul li:nth-last-child(1) {
  background: #f1f1f1;
  color: #000000;
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 10px;
}

.section-1 header ul li:nth-last-child(1):hover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-bottom: 1px solid transparent;
  background: transparent;
  border: 1px solid white;
  color: white;
}

.section-1 header ul li:hover {
  border-bottom: 1px solid #00FFFD;
}

.section-1 .mob-nav {
  z-index: 5;
  display: none;
}

.section-1 .mob-nav #menu {
  width: 2rem;
}

.section-1 .mob-nav .mob-menu {
  position: absolute;
  margin-right: -50%;
  width: 50%;
  padding-top: 5rem;
  display: unset;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  height: 100vh;
  right: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  top: 0;
  text-align: center;
}

.section-1 .mob-nav .mob-menu .mob-join-server {
  border-bottom: 0px;
  margin-top: 1rem;
  background: white;
  color: black;
}

.section-1 .mob-nav .mob-menu li {
  margin: 0;
  width: 80%;
  margin: auto;
  padding: 1rem;
  border-bottom: 1px solid white;
}

.section-1 .mob-nav .mob-menu svg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 3rem 1rem;
}

.section-1 .introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  width: 750px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(116, 116, 116, 0.37);
          box-shadow: 0 8px 32px 0 rgba(116, 116, 116, 0.37);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}

.section-1 .introduction h1 {
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section-1 .introduction p {
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

.section-1 .introduction input {
  padding: 1rem 2rem;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #00FFFD;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.section-1 .introduction input:hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 0px;
  background: #00e2e2;
}

.section-1 .introduction input:nth-last-child(1) {
  margin-left: 1rem;
  background: transparent;
  color: white;
  border: 1px solid #00FFFD;
}

.section-1 .introduction input:nth-last-child(1):hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.2);
}

#orderIt {
  overflow: hidden;
  position: absolute;
  height: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media only screen and (max-width: 1500px) {
  .section-1 {
    width: 1200px;
  }
  #orderIt {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 1200px) {
  .section-1 {
    width: 1000px;
  }
  #orderIt {
    position: absolute;
    width: 500px;
    height: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 1023px) {
  .section-1 {
    width: 750px;
  }
  #orderIt {
    position: absolute;
    width: 400px;
    height: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 800px) {
  .section-1 {
    width: 500px;
  }
  .section-1 .introduction {
    width: 500px;
  }
  .section-1 .introduction h1 {
    font-size: 2rem;
  }
  .section-1 .introduction p {
    font-size: 14px;
  }
  #orderIt {
    position: absolute;
    width: 400px;
    height: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 550px) {
  .section-1 {
    width: 100%;
    padding: 2rem;
  }
  .section-1 .introduction {
    width: 80%;
    margin: auto;
  }
  .section-1 .introduction h1 {
    font-size: 2rem;
  }
  .section-1 .introduction p {
    font-size: 14px;
  }
  #orderIt {
    position: absolute;
    width: 350px;
    height: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 500px) {
  .section-1 header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-1 header nav {
    display: none;
  }
  .section-1 .mob-nav {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */