@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$bg-color: #1A1A1A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: $bg-color;
    color: white;
}

/***********************************
*              Header              *
***********************************/

.section-1 {
    position: relative;
    width: 1500px;
    height: 100vh;
    margin: auto;
    padding: 2rem 0 0 0;
    overflow: hidden;

    header {
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
    
            li {
                margin-left: 2.5rem;
                cursor: pointer;
                padding: .5rem 0;
                border-bottom: 1px solid transparent;
                transition: .5s ease;
                
                &:nth-last-child(1) {
                    background: #f1f1f1;
                    color: #000000;
                    border: 1px solid transparent;
                    padding: 1rem;
                    border-radius: 10px;

                    &:hover {
                        transition: .3s ease;
                        border-bottom: 1px solid transparent;
                        background: transparent;
                        border: 1px solid white;
                        color: white;
                    }
                }

                &:hover {
                    border-bottom: 1px solid #00FFFD;
                }
            }
        }
    }

    .mob-nav {
        z-index: 5;
        display: none;

        #menu {
            width: 2rem;
        }

        .mob-menu {
            position: absolute;
            margin-right: -50%;
            width: 50%;
            padding-top: 5rem;
            display: unset;
            background: rgba(#000000, .6);
            z-index: 2;
            height: 100vh;
            right: 0;
            backdrop-filter: blur( 5px );
            top: 0;
            text-align: center;

            .mob-join-server {
                border-bottom: 0px;
                margin-top: 1rem;
                background: white;
                color: black;
            }
            
            li {
                margin: 0;
                width: 80%;
                margin: auto;
                padding: 1rem;
                border-bottom: 1px solid white;
            }

            svg {
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0 0 3rem 1rem;
            }
        }
    }

    .introduction {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        padding: 2rem;
        transform: translate(-50%, -50%);
        background: rgba(#000000, 0.6);
        width: 750px;
        box-shadow: 0 8px 32px 0 rgba(116, 116, 116, 0.37);
        backdrop-filter: blur( 5px );
        border-radius: 10px;

        h1 {
            font-weight: normal;
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.6rem;
            margin-bottom: 1.5rem;
        }

        input {
            padding: 1rem 2rem;
            font-size: 14px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background: #00FFFD;
            transition: .5s ease;

            &:hover {
                transition: .5s ease;
                border-radius: 0px;
                background: #00e2e2;
            }

            &:nth-last-child(1) {
                margin-left: 1rem;
                background: transparent;
                color: white;
                border: 1px solid #00FFFD;
                &:hover {
                    transition: .5s ease;
                    border-radius: 0px;
                    background: rgba(black, .2);
                }
            }
        }
    }
}

#orderIt {
    overflow: hidden;
    position: absolute;
    height: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 1500px) {
    .section-1 {
        width: 1200px;
    }

    #orderIt {
        position: absolute;
        width: 500px;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 1200px) {
    .section-1 {
        width: 1000px;
    }

    #orderIt {
        position: absolute;
        width: 500px;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 1023px) {
    .section-1 {
        width: 750px;
    }

    #orderIt {
        position: absolute;
        width: 400px;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 800px) {
    .section-1 {
        width: 500px;
        
        .introduction {
            width: 500px;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 14px;
            }
        }
    }


    #orderIt {
        position: absolute;
        width: 400px;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 550px) {
    .section-1 {
        width: 100%;
        padding: 2rem;
        
        .introduction {
            width: 80%;
            margin: auto;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 14px;
            }
        }
    }


    #orderIt {
        position: absolute;
        width: 350px;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 500px) {
    .section-1 {
        header {
            display: flex;
            nav {
                display: none;
            }
        }
        .mob-nav {
            display: block;
        }
    }

}